.body{
    display: flex;
    margin: 2% 0 0 3%;
    gap: 80px;
}

.left-body{
    position: relative;
    width: 630px;
    height: 350px;
    background-color: #E3E3E3;
    border-radius: 15px;
}
.right-body{
    position: relative;
    width: 500px;
    height: 350px;
    background-color: #E3E3E3;
    border-radius: 15px;
}

.consultationrem{
    width: 35%;
    height: 12%;
    color: white;
    background-color: #14213D;
    border-radius: 15px;
    margin-left: 33%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tableConsrem{
    width: 90%;
    height: 15%;
    color: #383838;
    display: flex;
    
    display:flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 3%;

}

.row1{
    display: flex;
    padding: 10px;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}


.consultationcomp{
    width: 43%;
    height: 12%;
    color: white;
    background-color: #14213D;
    border-radius: 15px;
    margin-left: 33%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tableConscomp{
    width: 90%;
    height: 15%;
    color: #383838;
    display: flex;
    
    display:flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 3%;
}

.rowComp{
    display: flex;
    padding: 10px;
    gap: 20px;
    background-color: #ffffff;
    border-radius: 10px;
}