body {
    padding: 20px;
}

.accordion-item {
    margin-bottom: 60px;
}

.accordion-button {
    background-color: #F99417;
    /* Background color for accordion buttons */
    border-radius: 10px;
    /* Border radius for accordion buttons */
}

.accordion-body input {
    width: calc(100% + 10px);
    /* Make input 10px larger */
    background-color: #F99417;
    /* Background color for input fields */
    border-radius: 10px;
    /* Border radius for input fields */

}

.nav-item {
    margin-right: 50px;
    font-weight: bold;
}

.custom-image {
    border: 2px solid #F99417;
    border-radius: 200px;
    padding: 10px;
    height: 300px;
    width: 600px;
}

.btn-secondary:hover {
    background-color: rgb(255, 255, 255);
    color: #080502;
    /* Change text color on hover */
}

.btn-primary:hover {
    background-color: rgb(255, 255, 255);
    color: #010101;
    /* Change text color on hover */
}

.custom-btn {
    background-color: #F99417;
    /* Set your desired color */
    color: #FFFFFF;
    /* Set the text color */
    height: 50px;
    border-radius: 16px;
    text-align: center;
    justify-content: center;

}

.custom-icon .fa-regular.fa-circle-check {
    color: #F99417;
    /* Set your desired icon color */
}

.custom-navbar {
    /* Set your desired background color */
    height: 90px;
}

.custom-input {
    color: #e5e5e51d;
    /* Set your desired text color */
    background-color: #e5e5e5;
    ;
    /* Set your desired background color */
    /* You can customize other styles as needed */
    border-radius: 20px;
    height: 50px;
    left: 200px;
}

body {
    overflow-x: hidden;
}

.custom-content {
    /* Add your styles for content here */
    margin-top: 600px;
    /* Increase the margin-top value to move the content further down */
}

.half-circle {
    width: 700px;
    height: 350px;
    background: #F99417;
    border-radius: 700px 700px 0 0;
    right: -150px;
    position: absolute;
    display: flex;

}

.custom-label {
    text-align: right;
    /* Align labels to the right */
    padding-right: 10px;
    /* Add some space between labels and input fields */
}

.custom-input1 {
    /* Make input fields take the full width of the container */
    background-color: #e5e5e5;
}

.custom-input2 {
    width: 45%;
    background-color: #e5e5e5;
}

.custom-input4 {
    width: 60%;
    height: 100px;
    background-color: #e5e5e5;
}

.custom-inputa {
    width: 500px;
    background-color: #e5e5e5;


}

.custom-input::placeholder {
    font-family: 'Your Custom Font', sans-serif;
    /* Replace 'Your Custom Font' with the font name you want to use */
    /* Set the font style, e.g., italic */
    font-size: 16px;
    /* Set the font size as needed */
    color: #999;
    /* Set the color for the placeholder text */
}

.bg-custom {
    background-color: #ffffff;
    /* Set the background color to white */
    border: none;
    /* Remove the default border */
    border-radius: 10px;
    /* Add border radius for rounded corners */
    box-shadow: 0 6px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle shadow */
    justify-items: center;
    height: 200px;
    border-top: 4px solid #F99417;
    align-items: center;
}

a {
    text-decoration: none;
}

/* Custom card title and text color */
.text-custom {
    color: black;
    /* Set your desired text color */
}

.custom-input-group {
    width: 40% !important;
    /* Customize the width as needed */
    position: relative;
}

.bg-custom-footer {
    background-color: #F99417;
    /* Set the desired background color for the footer */
    color: #ffffff;
    /* Set the text color for the footer */
    padding: 10px;
    /* Add padding to the footer for spacing */
    width: 100%;
    font-weight: 100;
    font-size: small;

}

.my-custom-margin {
    margin: 150px;
}

.custom-button {
    position: absolute;
    right: 60px;
    height: 100%;
    top: 0;
    border: none;
    background-color: transparent;
}

.custom-button:hover {
    border: none;
    /* Remove the hover effect */

}

.custom-img {
    height: 50px;
    width: 50px;
    border-radius: 30px;
}

.custom-input-group {
    padding-right: 40px !important;
    /* Adjust as needed to make space for the button */
    display: flex;
    padding-right: 40px;
}

.custom-input3 {
    padding-right: 40px;
    flex: 1;
    border-radius: 15px;
    background-color: #e5e5e5;
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.custom-input input.form-control {
    border-radius: 15px;
    /* Apply border radius to both sides */
}

#upload-button {
    background-color: #999;
    width: 200px;
    height: 50px;
    margin-top: 20px;
    border-radius: 20px;

}

.add-icon {
    cursor: pointer;
    color: #F99417;
    font-size: 20px;
    margin-top: 10px;
}